<!DOCTYPE html>
<html>
<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style>
body {
    background-color: lightblue;
}
</style>
</head>
<body>


<h1 style="background-color:DodgerBlue;"> 안녕하세요, 여기서 글자를 세세요! </h1>

<ul class="nav nav-pills">
    <li role="about" class="active"><a href="{%url 'about'%}">ABOUT</a></li>
</ul>
<br>
<form action="{%url 'result'%}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br>
    <input type = "submit" value="Count!">
</form>
</body>
</html>